#include "windows.h"
#include "testd.h"
#include "..\ceklibd.h"

#include "gennum.dlg"

test ICON "test.ICO"

test MENU
BEGIN
    POPUP       "&File"
    BEGIN
        MENUITEM "&FileOpen...", IDM_FILEOPEN
        MENUITEM SEPARATOR
        MENUITEM "DLGOPEN_MUSTEXIST", IDM_MUSTEXIST
        MENUITEM "DLGOPEN_NOSHOWSPEC", IDM_NOSHOWSPEC
        MENUITEM "DLGOPEN_SHOWDEFAULT", IDM_SHOWDEFAULT
        MENUITEM "DLGOPEN_OPEN", IDM_OPEN
        MENUITEM "DLGOPEN_SAVE", IDM_SAVE
        MENUITEM "DLGOPEN_NOBEEPS", IDM_NOBEEPS
        MENUITEM "DLGOPEN_SEARCHPATH", IDM_SEARCHPATH
        MENUITEM "DLGOPEN_NOCHANGESPEC", IDM_NOCHANGESPEC
    END
    POPUP        "&SelectPrinter"
    BEGIN
        MENUITEM "&Get Default", IDM_GETDEFAULT
        MENUITEM "&Use Default...", IDM_USEDEFAULT
        MENUITEM "&Standard...", IDM_STANDARD
        MENUITEM "&Allow Setup", IDM_ALLOWSETUP, CHECKED
    END
    POPUP        "&Registration"
    BEGIN
        MENUITEM "&Enter Number", IDM_REG
        MENUITEM "&Generate...", IDM_GENNUM
    END
    POPUP        "&Help"
    BEGIN
        MENUITEM "&About CEKLIB...", IDM_ABOUT
        MENUITEM "&Big About CEKLIB...", IDM_BIGABOUT
        MENUITEM "&Registered About...", IDM_REGABOUT
    END
END
