/************************************************************************
 *
 *    Copyright (C) 1990 Werner Associates.  All Rights Reserved.
 *
 *-----------------------------------------------------------------------
 *
 *     Project:  APACHE, Apache For Windows
 *
 *      Module:  vt220.rc
 *
 *   Author(s):  Bryan A. Woodruff (baw)
 *               Charles E. Kindel, Jr. (cek)
 *
 *
 *     Remarks:  Resource file header
 *
 *   Revisions:  
 *     01.00.000  1/ 7/91 baw   Initial Version
 *     01.00.001  5/ 5/91 baw   VT220 resources created
 *     01.00.002  7/ 4/91 baw   Added SettingsDlgBox and string
 *                              resources
 *
 ************************************************************************/

#include <windows.h>

#include "resource.h"

#include "dialogs.rc"

#include "string.rc"

ICONS ICON VT220.ICO

/************************************************************************
 * End of File: vt220.rc
 ************************************************************************/

