    IDS_MODEM_2224B,     "AT&T Autocall 2224B,^M,^M,,,,1,,,,,,,,,,"
    IDS_MODEM_7404,      "AT&T Sys75 7404 7407,{~~~c^M~,^M,,,,1,,,,,,,,,,"
    IDS_MODEM_DTDM,      "AT&T Sys75 DTDM PDM MPDM,{,^M,,,,1,,,,,,,,,,"
    IDS_MODEM_BIZCOMP,   "Bizcomp PC-Intellimodem,ATNU^M~ATDT,^M,,ATX1S0=1^M,,1,OK^M^J,ERROR^M^J,CONNECT^M^J,CONNECT %^M^J,,TONE^M^J,RING^M^J,NO DIAL^M^J,BUSY^M^J,NO CARRIER^M^J"
    IDS_MODEM_BYTCOM,    "Bytcom 212AD,^M~^M~~D~T~,^M,,^M,,1,,,,,,,,,,"
    IDS_MODEM_COMPAQ,    "Compaq internal modem,ATDT,^M,ATS0=1^M,^M~ATV1E0X4^M~AT&C1&D2^M,~~+++~~ATH0^M,1,OK^M^J,ERROR^M^J,CONNECT^M^J,CONNECT %^M^J,,TONE^M^J,RING^M^J,NO DIAL^M^J,BUSY^M^J,NO CARRIER^M^J"
    IDS_MODEM_CONCORD,   "Concord Data Systems 224,^M^M~D,^M,,,,1,,,,,,,,,,"
    IDS_MODEM_DCA911,    "DCA 911,CRN,^J,,,,1,,,,,,,,,,"
    IDS_MODEM_DCAFAST,   "DCA Fastlink,ATS6=5DT,^M,ATS0=1^M,~ATS50=0S52=1S53=1S58=2S66=1S68=2^M,~~+++~~ATH0^M,0,OK^M^J,ERROR^M^J,CONNECT^M^J,CONNECT %^M^J,CONNECT %/REL^M^J,TONE^M^J,RING^M^J,NO DIAL^M^J,BUSY^M^J,NO CARRIER^M^J"
    IDS_MODEM_GRID,      "Grid Case (internal),ATDT,^M,ATS0=1^M,^M~ATE0V1X1^M~,~~+++~~ATH0^M,1,OK^M^J,ERROR^M^J,CONNECT^M^J,CONNECT %^M^J,,TONE^M^J,RING^M^J,NO DIAL^M^J,BUSY^M^J,NO CARRIER^M^J"
    IDS_MODEM_HAYES300,  "Hayes 300,ATDT,^M,ATS0=1^M,^M~ATV1E0^M,~~+++~~ATH0^M,1,OK^M^J,ERROR^M^J,CONNECT^M^J,CONNECT %^M^J,,TONE^M^J,RING^M^J,NO DIAL^M^J,BUSY^M^J,NO CARRIER^M^J"
    IDS_MODEM_HAYES1200, "Hayes 1200,ATDT,^M,ATS0=1^M,^M~ATV1E0X1^M,~~+++~~ATH0^M,1,OK^M^J,ERROR^M^J,CONNECT^M^J,CONNECT %^M^J,,TONE^M^J,RING^M^J,NO DIAL^M^J,BUSY^M^J,NO CARRIER^M^J"
    IDS_MODEM_HAYES2400, "Hayes 2400,ATDT,^M,ATS0=1^M,^M~ATV1E0X4^M~AT&C1&D2^M,~~+++~~ATH0^M,1,OK^M^J,ERROR^M^J,CONNECT^M^J,CONNECT %^M^J,,TONE^M^J,RING^M^J,NO DIAL^M^J,BUSY^M^J,NO CARRIER^M^J"
    IDS_MODEM_V2400,     "Hayes V2400,ATDT,^M,ATS0=1^M,^M~ATV1E0X4^M~AT&C1&D2^M,~~+++~~ATH0^M,0,OK^M^J,ERROR^M^J,CONNECT^M^J,CONNECT %^M^J,,TONE^M^J,RING^M^J,NO DIAL^M^J,BUSY^M^J,NO CARRIER^M^J"
    IDS_MODEM_V9600,     "Hayes V9600,ATDT,^M,ATS0=1^M,^M~ATV1E0X4^M~AT&C1&D2^M,~~+++~~ATH0^M,0,OK^M^J,ERROR^M^J,CONNECT^M^J,CONNECT %^M^J,,TONE^M^J,RING^M^J,NO DIAL^M^J,BUSY^M^J,NO CARRIER^M^J"
    IDS_MODEM_IBM5841,   "IBM 5841 (external),ATDT,^M,ATS0=1^M,^M~ATV1E0X1^M,~~+++~~ATH0^M,1,OK^M^J,ERROR^M^J,CONNECT^M^J,CONNECT %^M^J,,TONE^M^J,RING^M^J,NO DIAL^M^J,BUSY^M^J,NO CARRIER^M^J"
    IDS_MODEM_IBMCONV,   "IBM Convertible,^N~C S; L 0; D,; T 0^M,,^N~C 1^M,,1,,,,,,,,,,"
    IDS_MODEM_IBM1200,   "IBM Internal 1200,ATDT,^M,ATS0=1^M,^M~ATV1E0X1^M,~~+++~~ATH0^M,1,OK^M^J,ERROR^M^J,CONNECT^M^J,CONNECT %^M^J,,TONE^M^J,RING^M^J,NO DIAL^M^J,BUSY^M^J,NO CARRIER^M^J"
    IDS_MODEM_MIGENT,    "Migent Pocket 1200,ATDT,^M,ATS0=1^M,^M~ATV1E0X4^M,~~+++~~ATH0^M,1,OK^M^J,ERROR^M^J,CONNECT^M^J,CONNECT %^M^J,,TONE^M^J,RING^M^J,NO DIAL^M^J,BUSY^M^J,NO CARRIER^M^J"
    IDS_MODEM_MULTITECH, "MultiTech 224AD 224AB,ATDT,^M,ATS0=1^M,^M~ATV1E0^M,~~+++~~ATH0^M,1,OK^M^J,ERROR^M^J,CONNECT^M^J,CONNECT %^M^J,,TONE^M^J,RING^M^J,NO DIAL^M^J,BUSY^M^J,NO CARRIER^M^J"
    IDS_MODEM_NOVATION,  "Novation (all models),%D~,; U 0^M,,%C~ 1; U~ 0^M,,1,,,,,,,,,,"
    IDS_MODEM_POPCOM,    "Popcom (all models),ATDT,^M,ATS0=1^M,^M~ATV1E0X1S18=0^M,~~+++~~ATH0^M,1,OK^M^J,ERROR^M^J,CONNECT^M^J,CONNECT %^M^J,,TONE^M^J,RING^M^J,NO DIAL^M^J,BUSY^M^J,NO CARRIER^M^J"
    IDS_MODEM_PM2400SA,  "Practical Peripherals PM2400SA,ATDT,^M,ATS0=1^M,^M~ATV1E0X4&C1&D2\\J0\\N3\\Q1\\V1\\C1^M,~~+++~~ATH0^M,0,OK^M^J,ERROR^M^J,CONNECT^M^J,CONNECT %^M^J,CONNECT %/REL^M^J,TONE^M^J,RING^M^J,NO DIAL^M^J,BUSY^M^J,NO CARRIER^M^J"
    IDS_MODEM_RACAL3451, "Racal-Vadic 3451,~^E^M~D^M~~,^M~~^M,,^M,,1,,,,,,,,,,"
    IDS_MODEM_RACAL212,  "Racal-Vadic VA-212,~^E^M~D^M~~,^M~~^M,,^M,,1,,,,,,,,,,"
    IDS_MODEM_RIXON212,  "Rixon Executive 212,ATDT,^M,ATS0=1^M,,~~+++~~ATH0^M,1,OK^M^J,ERROR^M^J,CONNECT^M^J,CONNECT %^M^J,,TONE^M^J,RING^M^J,NO DIAL^M^J,BUSY^M^J,NO CARRIER^M^J"
    IDS_MODEM_RIXON212A, "Rixon PC212a,ATDT,^M,,ATX1S0=0,~~+++~~ATH0^M,1,OK^M^J,ERROR^M^J,CONNECT^M^J,CONNECT %^M^J,,TONE^M^J,RING^M^J,NO DIAL^M^J,BUSY^M^J,NO CARRIER^M^J"
    IDS_MODEM_TELEBIT,   "Telebit Trailblazer,ATS6=5DT,^M,ATS0=1^M,^M~ATS50=0S52=1S53=1S58=2S66=1S68=2^M,~~+++~~ATH0^M,0,OK^M^J,ERROR^M^J,CONNECT^M^J,CONNECT %^M^J,CONNECT %/REL^M^J,TONE^M^J,RING^M^J,NO DIAL^M^J,BUSY^M^J,NO CARRIER^M^J"
    IDS_MODEM_USR212,    "US Robotics Autodial 212,ATDT,^M,ATS0=1^M,^M~ATV1E0X1^M,~~+++~~ATH0^M,1,OK^M^J,ERROR^M^J,CONNECT^M^J,CONNECT %^M^J,CONNECT %/ARQ^M^J,TONE^M^J,RING^M^J,NO DIAL^M^J,BUSY^M^J,NO CARRIER^M^J"
    IDS_MODEM_USR2400,   "US Robotics Courier 2400,ATDT,^M,ATS0=1^M,^M~ATV1E0X1^M,~~+++~~ATH0^M,1,OK^M^J,ERROR^M^J,CONNECT^M^J,CONNECT %^M^J,CONNECT %/ARQ^M^J,TONE^M^J,RING^M^J,NO DIAL^M^J,BUSY^M^J,NO CARRIER^M^J"
    IDS_MODEM_HST9600,   "US Robotics Courier HST,ATDT,^M,ATS0=1^M,^M~AT&B1&N0&H1&M4&I0&R2X4^M,~~+++~~ATH0^M,0,OK^M^J,ERROR^M^J,CONNECT^M^J,CONNECT %^M^J,CONNECT %/ARQ^M^J,TONE^M^J,RING^M^J,NO DIAL^M^J,BUSY^M^J,NO CARRIER^M^J"
    IDS_MODEM_VEN1200,   "Ven-Tel 1200,ATDT,^M,ATS0=1^M,^M~ATV1E0X1^M,~~+++~~ATH0^M,1,OK^M^J,ERROR^M^J,CONNECT^M^J,CONNECT %^M^J,,TONE^M^J,RING^M^J,NO DIAL^M^J,BUSY^M^J,NO CARRIER^M^J"
    IDS_MODEM_VEN2400,   "Ven-Tel 2400,ATDT,^M,ATS0=1^M,^M~ATV1E0X1^M,~~+++~~ATH0^M,1,OK^M^J,ERROR^M^J,CONNECT^M^J,CONNECT %^M^J,,TONE^M^J,RING^M^J,NO DIAL^M^J,BUSY^M^J,NO CARRIER^M^J"
    IDS_MODEM_VENEC18K,  "Ven-Tel EC18K,ATS6=5DT,^M,ATS0=1^M,^M~ATS50=0S52=1S53=1S58=2S66=1S68=2^M,~~+++~~ATH0^M,0,OK^M^J,ERROR^M^J,CONNECT^M^J,CONNECT %^M^J,CONNECT %/REL^M^J,TONE^M^J,RING^M^J,NO DIAL^M^J,BUSY^M^J,NO CARRIER^M^J"
    IDS_MODEM_DIRECT,    "Direct Connection"
    IDS_MODEM_CUSTOM,	 "Custom Modem"
